@font-face {
    font-family: 'shabby'; /*a name to be used later*/
    src: url('../fonts/anothershabby.ttf'); /*URL to font*/
}

h1{
	font-family: 'shabby' !important;
}

h2 h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem !important;
}

h4 h5 h6{
font-family: 'Titillium Web', sans-serif;
}

p{
	font-family: 'Titillium Web', sans-serif;
}

/*Parallax velovidades*/
  .forefront-element {
    -webkit-transform: translateZ(999px) scale(.7);
    transform: translateZ(999px) scale(.7);
    z-index: 1;
  }

  .base-element {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .background-element {
    -webkit-transform: translateZ(-999px) scale(1.2);
    transform: translateZ(-999px) scale(1.2);
    z-index: 3;
  }
/*FIN EFECTO-------------*/

#raya-izq{
	height: 50vh; 
	width: 60px; 
	border-left: solid 20px #ffffff; 
	border-top: solid 20px #ffffff; 
	border-bottom: solid 20px #ffffff;
	position: absolute;
	top: 30vh;
	left: 25vw;
}

#raya-der{
	height: 50vh; 
	width: 60px; 
	border-right: solid 20px #ffffff; 
	border-top: solid 20px #ffffff; 
	border-bottom: solid 20px #ffffff;
	position: absolute;
	top: 30vh;
	right: 25vw;
}

@media screen and (max-width: 768px){
	#raya-izq{
		top: 25vh;
		height: 30vh;
		left: 15vw;
		border-left: solid 10px #ffffff; 
		border-top: solid 10px #ffffff; 
		border-bottom: solid 10px #ffffff;
	}
	#raya-der{
		top: 25vh;
		height: 30vh;
		right: 15vw;
		border-right: solid 10px #ffffff; 
		border-top: solid 10px #ffffff; 
		border-bottom: solid 10px #ffffff;
	}
}



/*CHAVA-------------------*/
@media screen and (max-width: 768px){
	.chava{
	position: relative;
    top: 30vh;
    left: 0;
    max-height: 400px;
  }
  .img-header{
  	z-index:50;
  	position: absolute;
  	top: 0;
  	right: 27vw;
  	left: 0;
  	max-height: 800px;
  	height: 30vh;
  }
}
@media screen and (min-width: 768px){
  .img-header{
  	position: relative;
  	top: 5vh;
  	right: 0;
  	left: 0;
  }

  .chava{
	position: relative;
	top: 10vh;
	max-height: 300px;
}
}


@media screen and (max-width: 768px){
	.logo-header{
	width: 180px;
  }
}
@media screen and (min-width: 768px){
	.logo-header{
	width: 230px;
  }
}

.servicios{
	margin-top: 10%;
	padding-top: 150px;
	/*background-image: linear-gradient(180deg, rgba(0,255,255,0), rgba(255,255,255,1));*/
	z-index: 5000;

}

@media screen and (min-width: 768px){
	.texto-banner{
	position: absolute;
	top: 35vh;
	right: 20vw;
	left: 20vw;
	line-height: 1em;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 0;
	}
} 

#palabra{
	font-family: 'shabby'; 
	font-size: 2em; 
	line-height: 1em; 
	margin-bottom: -2.5%;
}

@media screen and (max-width: 768px){
	.texto-banner{
	position: absolute;
	top: 30vh;
	right: 20vw;
	left: 20vw;
	line-height: 1em;
	text-align: center;
	font-size: 0.2em !important;
	}
	#palabra{
		font-size: 10em !important;
	}
}

.pintura img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
} 

.pintura {
  text-align: center;
  color: white;
  background-image: url("../img/bg-expertise.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  height: 100%;
}

@media screen and (min-width: 768px){
	.margin-nosotros{
		margin-top: 300px;
	}
}

@media screen and (max-width: 768px){
	.margin-nosotros{
		margin-top: 200px;
	}
}

.equipo{
	background-image: url('../img/equipo.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 300px;
	width: 100%;

}

.contacto{
	background-color: rgba(255,255,255,0);
    padding: 5%; 
}

body{
	background-color:  #212529;
}


/*SLIDING BG*/
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 5s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #191c1f 50%, #33373c 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:6s;
}

.bg3 {
  animation-duration:7s;
}

.content {
  background-color:rgba(33,37,41,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/*END: SLIDING BG*/

.descuentositio{
	background-color: #FF7E00;
	padding:4%;
}

.descuentoredes{
	background-color: #313131;
	padding:4%;
}
#about{
	background-color: orange;
	clip-path: polygon(0 11%, 50% 0, 100% 11%, 100% 100%, 0% 100%);
}

/* Preloader 
---------------------------------------- */

.preloader {
  position: fixed;
  left: 0;
  top: -100%;
  right: 0;
  height: 100%;
  z-index: 999999999999999999;
  background: #202020;
  text-align: center;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.preloader:before {
  content: "";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

.preloader .logopreloader {
  vertical-align: middle;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  white-space: nowrap;
  display: inline-block;
  top: -20px;
  opacity: 1;
  z-index: 500000000000;
  -webkit-transition: -moz-transform 1s ease, -webkit-transform 1s ease, -ms-transform 1s ease, -o-transform 1s ease, transform 1s ease, opacity 1s ease;
  transition: -webkit-transform 1s ease, transform 1s ease, opacity 1s ease;
}

.preloader .loader {
  width: 65px;
  height: 65px;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 15px 0 0 -32px;
  -webkit-transform: translate(0, 500px);
  transform: translate(0, 500px);
  opacity: 1;
  -webkit-transition: opacity 1s ease .3s, -webkit-transform 1s ease .3s;
  transition: opacity 1s ease .3s, -webkit-transform 1s ease .3s;
  transition: transform 1s ease .3s, opacity 1s ease .3s;
  transition: transform 1s ease .3s, opacity 1s ease .3s, -webkit-transform 1s ease .3s;
}

.preloader.loading .loader,
.preloader.loading .logopreloader {
  -webkit-transform: translate(0, 0px);
  transform: translate(0, 0px);
  opacity: 1;
}

.preloader.ended {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 0;
  -webkit-transition: -webkit-transform 1s ease 0.5s, -moz-transform 1s ease 0.5s, -ms-transform 1s ease 0.5s, -o-transform 1s ease 0.5s, transform 1s ease 0.5s, opacity 1s ease 0.5s;
  transition: -webkit-transform 1s ease 0.5s, transform 1s ease 0.5s, opacity 1s ease 0.5s;
}

.preloader.ended .loader,
.preloader.ended .logopreloader {
  -webkit-transform: translate(0, -500px);
  transform: translate(0, -500px);
  opacity: 0;
}
